.img-wrap{
    width: 1000px;
    margin: 0 auto;
    height: 600px;
    position: relative;
}
.part-left{
    width: 400px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.bigImg-wrap{
    position: relative;
    width: 400px;
    height: 400px;
}
.bigImg-wrap .modal{
    width: 200px;
    height: 200px;
    position: absolute;
    background: rgba(0, 0, 0, .4);

}
.part-right p{
    width: 80%;
}
.bigImg-wrap img{
    width: 100%;
    height: 100%;
}
.subImg{
    width: 100%;
    height: 100px;
    white-space: nowrap;
    overflow:hidden;
}

.subImg img.active{
    border:solid 2px red;
}
.to-review{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left:500px;
    overflow: hidden;
    z-index: 3;
}
.part-right{
    display: inline-block;
    vertical-align: top;
    margin: 20px 0 0 50px;
    width: 550px;
}
.cartTitle{
    font-size: 20px;
    font-weight: 600;

}
.mark{
    background: red;
    color: white;
    border-radius: 5px;
    padding: 2px 5px;
    margin-left: 30px;
}
.part-right p .value{
    margin-left: 10px;
}
.part-right .left-block{
    display: inline-block;
    width: 30px;
}
.price{
    font-size: 28px;
}
.price .num{
    font-size: 35px;
    color: red;
}
.price .subNum{
    font-size: 18px;
    margin-left: 20px;
    color: red;
}
.richText{
    width: 1000px;
    margin: 0 auto;
}